@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <p>Nosotros somos el Minimarket Raphi, parte de Grifo Gamarra.</p>
    <p>Grupo Gamarra SAC. con nombre comercial Grifo Gamarra cuenta con una extensión de 4130m2, donde se han instalado 13 dispensadores de los diferentes combustibles</p>
</div>