@{
    ViewBag.Title = "Contacto";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <address>
        <p>
            <strong>

                Encuentranos en nuestras instalaciones
            </strong><br />
            Calle Arequipa, Número 300<br />
            <abbr title="Telefono">T:</abbr>
            918 345677
        </p>
    </address>

    <address>
        <p>
            <strong>Soporte:</strong>   <a href="mailto:soporte@example.com">soporte@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@gmail.com</a>
        </p>
    </address>
</div>
