@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Encuentranos en nuestras instalaciones<br />
    Calle Arequipa, Número 300<br />
    <abbr title="Telefono">T:</abbr>
    918 345677
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@example.com">soporte@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@gmail.com</a>
</address>