 @{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="jumbotron">
        <h1>GRIFO GAMARRA</h1>
        <p class="lead">Minimarket Raphi le ofrece variedad de productos, una atención rápida y sobre todo amable. Contamos con agentes bancarios y aceptamos varios medios de pago.</p>
        <p><a href="https://grifogamarra.pe/minimarket" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/grifo.jpg" class="img-thumbnail" alt="Grifo" width="357" height="236">
            <br />
            <h2>Grifo</h2>
            <p>El grifo Gamarra le ofrece lo mejor a sus clientes y automóviles con variedad de productos de acuerdo a sus necesidades.</p>
            <p><a class="btn btn-info" href="https://grifogamarra.pe/#servicios">Saber más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/minimarket.jpg" class="img-thumbnail" alt="Grifo" width="357" height="236">
            <br />
            <h2>Minimarket</h2>
            <p>El grifo Gamarra le ofrece lo mejor a sus clientes y automóviles con variedad de productos de acuerdo a sus necesidades.</p>
            <p><a class="btn btn-info" href="https://grifogamarra.pe/#servicios">Saber más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/restaurante.jpg" class="img-thumbnail" alt="Grifo" width="357" height="236">
            <br />
            <h2>Restaurante</h2>
            <p>El grifo Gamarra le ofrece lo mejor a sus clientes y automóviles con variedad de productos de acuerdo a sus necesidades.</p>
            <p><a class="btn btn-info" href="https://grifogamarra.pe/#servicios">Saber más &raquo;</a></p>
        </div>
    </div>
    </div>