@using Minimarket_Raphi.Models
@using System.Data.Entity.Core.Objects;
@model ObjectResult<Consulta_Control_empleados_Result>
@{
    ViewBag.Title = "ConsultaEmpleado8";
}
<div class="jumbotron">
    <h2>Productos Ingresados por Empleado</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Código Empleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Cantidad de  Productos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Codigo_Empleado</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido_Paterno</td>
                    <td>@item.Cantidad_Productos</td>

                </tr>
            }
        </tbody>
    </table>
</div>