@using Minimarket_Raphi.Models
@using System.Data.Entity.Core.Objects;
@model ObjectResult<consulta_saldos_inciales_Result>
@{ ViewBag.Title = "SaldoInicial2"; }


<div class="jumbotron">
    <h2>Mostrar saldos iniciales mayores a 700</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Saldo Inicial</th>
                <th scope="col">Código Producto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <th scope="row"></th>
                    <td>@item.Saldo_Inicial</td>
                    <td>@item.Codigo_Producto</td>
                </tr>
            }
        </tbody>
    </table>

</div>